:root {
  --pink: #e83e8c;
  --yellow: #ffd24c;
  --white: #fff;
  --success: #28a745;
  --info: #17a2b8;
  --purple: #6a11cb;
  --error: #dc3545;
  --light: #f8f9fa;
  --dark: #282828;
}
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--dark);
}

main,
nav,
section {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--light);
  text-align: left;
  background-color: var(--dark);
}

a {
  background-color: transparent;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.8125rem;
}

h3 {
  font-size: 2.1875rem;
}

h4 {
  font-size: 1.5625rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15);
  }
  65% {
    transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
    text-shadow: -10px -10px 3px rgba(0, 0, 0, 0.15);
  }
  100% {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15);
  }
}

button {
  cursor: pointer;
}

/* FORM STYLES */
/* REMOVEME */

input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  color: var(--dark);
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--yellow);
  padding: 0.3rem;
  position: relative;
}
.input-box button {
  background-color: transparent;
  border: none;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  position: absolute;
  right: 0;
}
.input-box button:hover {
  opacity: 1;
}

input:focus {
  outline: none;
}
.input-box:not(:last-child) {
  border-bottom: solid 1px var(--dark);
}
.input-box,
.bottom-box {
  max-width: 300px;
}
form {
  flex: 0 0 300px;
}

.bottom-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 1rem;
}

.bottom-box button {
  background-color: var(--yellow);
  color: var(--dark);
  border-radius: 2px;
  border: none;
  padding: 0.2rem 1.5rem;
  flex-grow: 1;
  font-size: 0.9rem;
}

.bottom-box button:hover {
  animation: floating 20s ease-in-out infinite;
}

.bottom-box button:disabled {
  opacity: 0.5;
  background-color: var(--light);
  color: var(--dark);
  transition: all 0.2s ease;
}

.bottom-box button:disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}
