@font-face {
	font-family: "Chicago";
	src: local("Chicago"), url("../ChicagoFLF.woff") format("woff2");
	font-display: swap;
}

:root {
	--gray: #8792a2;
	--opaque: #ffffff8f;
	--error: #dc3545;
	--light: #ffffff;
	--dark: #000000;
	--font-size-small: 10px;
	--font-size-normal: 12px;
	--font-size-h1: 28px;
	--font-size-h2: 18px;
	--font-size-h3: 16px;
	--font-size-huge: 138px;
	--boxy-shadow: 2px 2px 0px #000000;
	--nav-height: 21px;
	--spacing: 5px;
	--font-family-chicago: "Chicago", sans-serif;
	--z-index-popover: 99;
}

@media (max-width: 1250px) {
	:root {
		--font-size-huge: 80px;
	}
}

*,
:after,
:before {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-behavior: smooth;
}

main,
nav,
section {
	display: block;
}
body,
input {
	margin: 0;
	font-family: var(--font-family-chicago);
	font-size: var(--font-size-normal);
	line-height: 1.5;
	color: var(--dark);
	text-align: left;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

button {
	border-radius: 0;
	font-family: var(--font-family-chicago);
	cursor: pointer;
}

input:focus {
	outline: none;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-normal);
}

small {
	font-size: var(--font-size-small);
	font-weight: normal;
}

/* UTIL CLASSES */

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.bottom-box {
	max-width: 300px;
}

.bottom-box {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 2rem 0;
	gap: 1rem;
}

.bottom-box button {
	color: var(--dark);
	border-radius: 2px;
	border: none;
	padding: 0.2rem 1.5rem;
	flex-grow: 1;
	font-size: 0.9rem;
}

.bottom-box button:disabled {
	opacity: 0.5;
	background-color: var(--light);
	color: var(--dark);
	transition: all 0.2s ease;
}

.bottom-box button:disabled:hover {
	box-shadow: none;
	cursor: not-allowed;
}

.bg-grid {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAACxLAAAsSwGlPZapAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAwSURBVHgB7c5BEQAgCAAwsJBBzGsQE+HXCHi3JVieXRWPuTKjkRHNCQIAAAAAwK8uVd8ECI31euMAAAAASUVORK5CYII=");
	background-size: 9px;
	background-position: 71% 4px;
}
