@font-face {
	font-family: "Chicago";
	src: local("Chicago"), url("../ChicagoFLF.woff") format("woff2");
	font-display: swap;
}

:root {
	--gray: #8792a2;
	--error: #dc3545;
	--light: #ffffff;
	--dark: #000000;
	--font-size-small: 10px;
	--font-size-normal: 12px;
	--font-size-h1: 28px;
	--font-size-h2: 18px;
	--font-size-h3: 16px;
	--font-size-huge: 138px;
	--boxy-shadow: 2px 2px 0px #000000;
	--nav-height: 20px;
	--spacing: 5px;
	--font-family-chicago: "Chicago", sans-serif;
	--z-index-popover: 99;
}

*,
:after,
:before {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	scroll-behavior: smooth;
}

main,
nav,
section {
	display: block;
}
body {
	margin: 0;
	font-family: var(--font-family-chicago);
	font-size: var(--font-size-normal);
	line-height: 1.5;
	color: var(--dark);
	text-align: left;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

button {
	border-radius: 0;
	font-family: var(--font-family-chicago);
	cursor: pointer;
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-normal);
}

small {
	font-size: var(--font-size-small);
}

/* UTIL CLASSES */

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.input-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem;
	position: relative;
}
.input-box button {
	background-color: transparent;
	border: none;
	opacity: 0.5;
	transition: opacity 0.5s ease;
	position: absolute;
	right: 0;
}
.input-box button:hover {
	opacity: 1;
}

.input-box:not(:last-child) {
	border-bottom: solid 1px var(--dark);
}
.input-box,
.bottom-box {
	max-width: 300px;
}

.bottom-box {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 2rem 0;
	gap: 1rem;
}

.bottom-box button {
	color: var(--dark);
	border-radius: 2px;
	border: none;
	padding: 0.2rem 1.5rem;
	flex-grow: 1;
	font-size: 0.9rem;
}

.bottom-box button:disabled {
	opacity: 0.5;
	background-color: var(--light);
	color: var(--dark);
	transition: all 0.2s ease;
}

.bottom-box button:disabled:hover {
	box-shadow: none;
	cursor: not-allowed;
}

/* FORM STYLES */
/* REMOVEME */

input {
	background-color: transparent;
	border: none;
	width: 100%;
	font-size: 0.9rem;
	text-align: center;
	color: var(--dark);
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}

input[type="checkbox"] + label {
	position: relative;
	padding-left: calc(var(--spacing) * 4);
	display: flex;
	align-items: center;
}

input[type="checkbox"] + label::before {
	width: calc(var(--spacing) * 3);
	height: calc(var(--spacing) * 3);
	border: solid 1px var(--dark);
	position: absolute;
	left: 0;
	content: " ";
}

input[type="checkbox"]:checked + label::after {
	content: " ";
	left: 7px;
	position: absolute;
	height: 17px;
	border-left: solid 1px var(--dark);
	transform: rotate(-45deg);
}

input:focus {
	outline: none;
}
form {
	flex: 0 0 300px;
}
